<%- include("partials/header.ejs") %>

        <h1>Welcome to Cricket <%= firstname %> </h1>

        <p> You are logged in as: <a href="/profile"><b><%= username %></a></b></p>

        <form action="/logout" method="POST">
        <button type="submit">Logout</button><br/>
        </form>    

        <br/>

        <form method="POST" action="/entries">
            <input type="text" name="entry" maxlength="140" placeholder="What to do?">
            <button type="submit">Creet</button>
        </form>

        <h1>My Creets</h1>

        <ul>
            <% entries.forEach((item) => { %>
            <li> 
                <img src="/<%= item.entryPhoto %>" alt="profile photo" height="50px" width="50px">
                <%= item.entry%> <i><small>- posted by <a href="/users/<%= item.entryUser%>"><b><%= item.entryUser %></b></a> on <%= item.entryDateString %> </small></i>
            </li>
            <% }) %>
        </ul>


<%- include("partials/footer.ejs") %>
