<%- include("partials/header.ejs") %>

        <h1>Welcome to Critter Posts <%= firstname %> </h1>

        <p> You are logged in as: <a href="/profile"><b><%= username %></a></b></p>

        <form action="/logout" method="POST">
        <button type="submit">Logout</button><br/>
        </form>    

        <br/>

        <form method="POST" action="/entries">
            <input type="text" name="entry" maxlength="140" placeholder="What to do?">
            <button type="submit">Creet</button>
        </form>

        <h1>My Creets</h1>

        <ul>
            <% entries.forEach((item) => { %>
            <li> 
                <%= item.entry%> <i><small>- posted by <%= item.entryUser %> on <%= item.entryDateString %> </small></i>
            </li>
            <% }) %>
        </ul>

        <form action="/delete" method="POST">
            <button type="submit">Delete last post</button>
        </form>


<%- include("partials/footer.ejs") %>
