<%- include("partials/header.ejs") %>

        <h1>User profile</h1>
        <img src="/images/worldmap1.jpg" alt="A user profile photo" height="200px" width="200px" border-radius="50%">

        <h2> Username: <%= username %> </h2>
        <h3> First name: <%= firstname %> </h3>
        <h3> Last name: <%= lastname %> </h3>
        <h3> E-mail: <%= email %> </h3>

        <br/>

        <form action="/index">
        <input action="/index" type="submit" value="Back">
        </form>                

        <h1>Edit user profile</h1>

        <h2>Photo upload</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
                <input name="file" type="file">
                <button type="submit">Upload file</button>
        </form>

        <form action="/edit_user" method="POST">
                First name: <input type="text" name="firstname"><br/>
                <br/>
                Last name: <input type="text" name="lastname"><br/>
                <br/>
                E-mail: <input type="email" name="email"><br/>
                <br/>
                <button type="submit">Edit user</button>
            </form>


            <h1>My Creets</h1>

        <ul>
            <% entries.forEach((item) => { %>

                <% if (item.entryUser === username) { %>

            <li> 
                <img src="/images/worldmap1.jpg" alt="profile photo" height="50px" width="50px">
                <%= item.entry%> <i><small>- posted by <b><%= item.entryUser %></b> on <%= item.entryDateString %> </small></i>
            </li>

            <% } %>

            
            <% }) %>
        </ul>


<%- include("partials/footer.ejs") %>